$gutter_width: 2.5rem;

// $frac = 1 of 9 columns
@function column-width($frac: 1/9, $include_gutter: false) {
  @return calc(
    (100% + #{$gutter_width}) * #{$frac}
    - #{if($include_gutter, 0px, $gutter_width)}
  );
}

@mixin column($frac: 1/9) {
  margin-right: $gutter_width;

  display: inline-block;
  vertical-align: top;
  width: column-width($frac);
}
