body.accounts {

  .assets-list, .liabilities-list {
    position: absolute;
    display: inline-block;
    top: 0; bottom: 0;
    width: 25em;

    padding: 1em 2em;

    h2 { text-align: center; }

    ul { list-style-type: none; }
    li {
      border-bottom: 1px dotted #DDD;
      @include clearfix;
    }

    .balance { float: right; }
  }
  .assets-list { right: 50%; }
  .liabilities-list { left: 50%; }

}
