@mixin bank_entry {
  position: relative;
  min-height: 1.2em;

  .date, .description, .distribute, .ammount, .account {
    position: absolute; top: 0.1em;
  }
  .date { width: 8em; }
  .description {
    left: 8em;
    right: 18em;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
  }
  .ammount { width: 8em; right: 0; }
  .account { width: 10em; right: 8em; }
}

body.bank_entries {

  form.filters {
    $filters_width: 55em;
    text-align: center;
    background-color: white;

    h3, .date, .distribute, .account, input[type="submit"] {
      display: inline-block;
      margin: 1ex 1em;
    }
    input, select {
      margin-left: 1ex;
      margin-right: 1ex;
    }

    @media (max-width: $filters_width) {
      h3 {
        display: block;
        &:after {
          content: ' v';
          font-weight: normal;
          font-size: 90%;
        }
      }
    }

    input[name="show_filters"] {
      display: none;

      @media (max-width: $filters_width) {
        & ~ * { display: none; }
        &:checked ~ * { display: initial; }
      }
    }
  }

  // This is more of a min-width
  $bank-entry-width: 45em;
  .bank-entries {
    margin: 1em 8em;
    @media (max-width: $bank-entry-width // bank-entry width
                    + 16em // margins
                    ) { margin: 1em; }
    list-style-type: none;

    form .actions > * { margin-right: 1em; }
    form .actions { display: none; }
    form.changed .actions { display: initial; }
    form.changed .distribute { display: none; }
    .focus { background-color: #F0F0F0; }

    li {
      @include bank_entry;

      @media (max-width: $bank-entry-width) {
        padding-top: 1.2em;
        .description { right: 0; }
        margin-top: 1.2em;
        padding-bottom: 1.2em;
      }

      border-bottom: 1px dashed #DDD;
      &:last-child { border-bottom: none; }

      .date, .description, .distribute, .ammount, .account {
        z-index: 100;
      }
      .distribute {
        right: 18.5em;
        @media (max-width: $bank-entry-width) { right: 0; }
      }
      .account-entry {
        position: relative;
        height: 1.4em;
        input { width: 100%; }
      }
    }
  }

  form.accounts-table {
    width: 50em;
    margin: 1em auto;

    li {
      position: relative;
      height: 1.2em;

      .account, .ammount, .strategy, .balance {
        position: absolute;
        input { width: 100%; }
      }
      .account { width: 12em; }
      .ammount { left: 12em; right: 5em; }
      .strategy { width: 1em; right: 5em; display: none; }
      .balance { width: 5em; right: 0; }
    }
    &.is-income li {
      .account { width: 11em; }
      .ammount { left: 11em; right: 6em; }
      .strategy { display: initial; }
    }

    .actions { clear: both; padding-top: 1.2em; }
    .actions > * { margin-right: 1em; }
    .strategy {
      text-align: center;
      cursor: pointer;
    }
  }

  .bank-entry {
    @include bank_entry;
    margin-bottom: 1em;
  }

}
