body.bank_entries {

  form.filters {
    $filters_width: 55em;
    text-align: center;
    background-color: white;

    h3, .date, .distribute, .account, input[type="submit"] {
      display: inline-block;
      margin: 1ex 1em;
    }
    input, select {
      margin-left: 1ex;
      margin-right: 1ex;
    }

    @media (max-width: $filters_width) {
      h3 {
        display: block;
        &:after {
          content: ' v';
          font-weight: normal;
          font-size: 90%;
        }
      }
    }

    input[name="show_filters"] {
      display: none;

      @media (max-width: $filters_width) {
        & ~ * { display: none; }
        &:checked ~ * { display: initial; }
      }
    }
  }

  form.accounts-table {
    width: 50em;
    margin: 1em auto;

    li {
      position: relative;
      height: 1.2em;

      .account, .ammount, .strategy, .balance {
        position: absolute;
        input { width: 100%; }
      }
      .account { width: 12em; }
      .ammount { left: 12em; right: 5em; }
      .strategy { width: 1em; right: 5em; display: none; }
      .balance { width: 5em; right: 0; }
    }
    &.is-income li {
      .account { width: 11em; }
      .ammount { left: 11em; right: 6em; }
      .strategy { display: initial; }
    }

    .actions { padding-top: 1.2em; }
    .actions > * { margin-right: 1em; }
    .strategy {
      text-align: center;
      cursor: pointer;
    }
  }

  .bank-entry {
    @include bank_entry;
    margin-bottom: 1em;
  }

}
