@font-face {
	font-family: 'icomoon';
	src:url('#{ asset_path('icomoon.eot', 'icons') }');
	src:url('#{ asset_path('icomoon.eot', 'icons') }?#iefix') format('embedded-opentype'),
		url('#{ asset_path('icomoon.svg', 'icons') }#icomoon') format('svg'),
		url('#{ asset_path('icomoon.woff', 'icons') }') format('woff'),
		url('#{ asset_path('icomoon.ttf', 'icons') }') format('truetype');
	font-weight: normal;
	font-style: normal;
} //'

@mixin icon-font($content) {
  &:before {
    font-family: 'icomoon';
    content: $content;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}

.icon-up-arrow {      @include icon-font("\e000"); }
.icon-down-arrow {    @include icon-font("\e001"); }
.icon-pencil {        @include icon-font("\e002"); }
.icon-previous {      @include icon-font("\e003"); }
.icon-next {          @include icon-font("\e004"); }
.icon-notification {  @include icon-font("\e005"); }
.icon-question {      @include icon-font("\e006"); }
.icon-info {          @include icon-font("\e007"); }
.icon-info-2 {        @include icon-font("\e008"); }
.icon-plus {          @include icon-font("\e009"); }
