- content_for :navigation do
  .icon-plus.is-clickable(ng-click="$broadcast('addEntry')" title="Add Entry")

.table.l-margin-v1.l-margin-h8(ng-app="ledger" ng-controller="EntriesCtrl")
  %form.EntryItem( name="form"
    ng-repeat="entry in entries"
    ng-click="open()"
    ng-class="{ 'table__rows is-selected': isOpen }"
  )
    .table__row( ng-class="{ 'is-clickable': !isOpen }" )
      .table__cell--date
        %span(ng-show="!isOpen || entry.externalId") {{ entry.date }}
        %input(ng-hide="!isOpen || entry.externalId" type="text" ng-model="entry.date")
      .table__cell--summary(ng-class="{ 'l-text-overflow': !isOpen }")
        {{type}}&nbsp;
        %em(ng-model="amountCents" l-currency)
        %span(ng-hide="isOpen")
          %span(ng-if="from")
            &nbsp;from&nbsp;
            %em {{ from | join }}
          %span(ng-if="to")
            &nbsp;to&nbsp;
            %em {{ to | join }}
        %span(ng-show="isOpen")
          \:&nbsp;
          .table__cell--description
            %pre(ng-if="entry.externalId") {{entry.description}}
            %input(ng-if="!entry.externalId" type="text" ng-model="entry.description")
    .table__row( ng-show="isOpen"
      ng-repeat="accountEntry in entry.accountEntries"
    )
      %input.table__cell--amount.l-text-r( name="amount"
        ng-model="accountEntry.amountCents" l-currency)
      %select.table__cell--account( name="account"
        ng-model="accountEntry.accountName"
        ng-options="a.name as a.name for a in accounts | orderBy:'name'")
    .table__row( ng-show="isOpen" )
      .table__cell.l-text-r
        %a.button(              ng-show="form.$pristine" href="/v3/bank_entries/{{entry.id}}/edit") distribute
        %button(                ng-show="form.$pristine" ng-click="close($event)") close
        %button.button--primary(ng-show="form.$dirty"    ng-click="save($event)") save
        %button(                ng-show="form.$dirty"    ng-click="close($event)") cancel
  .table__row
    .table__cell.l-text-c(ng-show="isLoadingEntries") Loading ...
    .table__cell.l-text-r
      %button(ng-click="loadMore()" ng-hide="isLoadingEntries") More
