.table {
}

.table__rows.is-selected {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0 0 2px 1px rgba(100, 100, 100, 0.2);
}

.table__rows.ng-enter, .table__rows.ng-leave {
  transition: all 0.333s linear;
}
.table__rows.ng-enter {
  opacity: 0;
  transform: translateX(10px);
  height: 0;
}
.table__rows.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateX(0);
  height: auto;
}
.table__rows.ng-leave {
  opacity: 1;
  transform: translateX(0);
}
.table__rows.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translateX(-10px);
}

.table__row {
  $item_height: 1.4em;
  height: $item_height;
  line-height: $item_height;
  position: relative;
}
.table__rows, .table__row {
  &.is-clickable:hover {
    box-shadow: 0 0 1px 1px rgba(100, 100, 100, 0.1);
  }
}

.table__cell, [class^="table__cell--"] {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;

  & > input, & > select { width: 100%; }
}
.table__cell--date { width: 6em; }
.table__cell--summary-amount { left: 7em; width: 5em; }
.table__cell--summary { left: 12em; right: 0; }
.table__cell--description { left: 1em; right: 0; }
.table__cell--controls { width: 4em; right: 0; }
.table__cell--amount { width: 8em; right: 11em; left: auto; }
.table__cell--account { width: 10em; right: 0; left: auto; }
