.table__row
  .table__cell--date(ng-switch="!editingEntry.externalId && isEditable()")
    %input(ng-switch-when="true" type="text" ng-model="editingEntry.date")
    %span(ng-switch-when="false") {{ editingEntry.date }}
  .table__cell--summary-amount.l-text-r(ng-model="amountCents" l-currency)
  .table__cell--summary
    .table__cell--description(ng-switch="!editingEntry.externalId && isEditable()")
      %input(ng-switch-when="true" type="text" ng-model="editingEntry.description")
      %pre(ng-switch-when="false") {{editingEntry.description}}
.table__row( ng-repeat="accountEntry in editingEntry.accountEntries")
  .table__cell--amount.l-text-r
    %input( ng-if="isEditable()"
      name="amount"
      ng-model="accountEntry.amountCents"
      l-currency
    )
    %span( ng-if="!isEditable()"
      ng-model="accountEntry.amountCents"
      l-currency)
  .table__cell--account
    %select( ng-if="isEditable()"
      name="account"
      ng-model="accountEntry.accountName")
      %option( ng-repeat="name in accountNames"
        ng-selected="accountEntry.accountName == name"
        value="{{name}}") {{name}}
      %optgroup( label="Deleted"
        ng-if="accountEntry.accountName && accountNames.indexOf(accountEntry.accountName) == -1")
        %option( value="{{accountEntry.accountName}}"
          selected ) {{accountEntry.accountName}}
    %span( ng-if="!isEditable()" ) {{accountEntry.accountName}}
.table__row
  .table__cell.l-text-r
    %a.button(              ng-show="form.$pristine && isEditable()" href="/v3/bank_entries/{{editingEntry.id}}/edit") distribute
    %button(                ng-show="form.$pristine"         ng-click="close($event)") close
    %button.button--primary(ng-show="form.$dirty && !saving" ng-click="save($event)") save
    %button(                ng-show="form.$dirty && !saving" ng-click="close($event)") cancel
    %span(                  ng-show="saving") saving...
