.table.l-margin-v1.l-width-full(ng-controller="EntriesCtrl")
  %form.table__rows( ng-cloak
    name="form"
    ng-repeat="entry in entries | orderBy:['-data','-id']"
    ng-controller="EntryCtrl"
    ng-click="open()"
    ng-class="{ 'is-selected': isOpen }"
    l-select="isOpen"
    l-select-selector=".table__row:nth-last-child(2) .table__cell--amount input"
  )
    %ng-include(src="'v3/templates/entry_'+(isOpen ? 'edit' : 'show')+'.html'")
  .table__row
    .table__cell.l-text-c(ng-show="isLoadingEntries") Loading ...
    .table__cell.l-text-r
      %button(ng-click="loadMore()" ng-hide="isLoadingEntries") More
