.table__row
  .table__cell--date(ng-switch="!entry.externalId && isEditable()")
    %input(ng-switch-when="true" type="text" ng-model="entry.date")
    %span(ng-switch-when="false") {{ entry.date }}
  .table__cell--summary-amount.l-text-r(ng-model="amountCents" l-currency)
  .table__cell--summary
    .table__cell--description(ng-switch="!entry.externalId && isEditable()")
      %input(ng-switch-when="true" type="text" ng-model="entry.description")
      %pre(ng-switch-when="false") {{entry.description}}
.table__row( ng-repeat="accountEntry in entry.accountEntries")
  .table__cell--amount.l-text-r
    %input( ng-if="isEditable()"
      name="amount"
      ng-model="accountEntry.amountCents"
      l-currency
    )
    %span( ng-if="!isEditable()"
      ng-model="accountEntry.amountCents"
      l-currency)
  .table__cell--account
    %select( ng-if="isEditable()"
      name="account"
      ng-model="accountEntry.accountName"
      ng-options="name for name in accountNames")
    %span( ng-if="!isEditable()" ) {{accountEntry.accountName}}
.table__row
  .table__cell.l-text-r
    %a.button(              ng-show="form.$pristine && isEditable()" href="/v3/bank_entries/{{entry.id}}/edit") distribute
    %button(                ng-show="form.$pristine"         ng-click="close($event)") close
    %button.button--primary(ng-show="form.$dirty && !saving" ng-click="save($event)") save
    %button(                ng-show="form.$dirty && !saving" ng-click="close($event)") cancel
    %span(                  ng-show="saving") saving...
