%div(l-margin="v1 l4 r3 b3" ng-controller="ForecastCtrl")
  .table__rows( ng-cloak
    ng-repeat="entry in forecastedEntries | orderBy:'date'"
  )
    .table__row( l-flex
      ng-include="'v3/templates/projected_entry_'+(entry.isEditing && entry.isFirst ? 'edit' : 'show')+'.html'"
      ng-click="startEdit(entry)"
      ng-class="{'is-clickable': entry.isFirst}"
    )

%script(type="text/ng-template" id="v3/templates/projected_entry_show.html")
  %div(l-width="8"     l-margin="r1") {{ entry.projectedEntry.date | date:'EEE dd-MM-yyyy' }}
  %div(l-width="8"     l-margin="r1") {{ entry.projectedEntry.accountName }}
  %div(l-width="6"     l-margin="r1" l-align="right" l-currency ng-model="entry.projectedEntry.amountCents")
  %div(l-flex-grow="1" l-margin="r1") {{ entry.projectedEntry.description }}
  %div(l-align="right" ng-show="entry.isFirst") open

%script(type="text/ng-template" id="v3/templates/projected_entry_edit.html")
  %input(l-width="8"     l-margin="r1" ng-model="entry.projectedEntry.date" type="date")
  %select(ng-model="entry.projectedEntry.accountName" ng-options="name for name in accountNames")
  %input(l-width="6"     l-margin="r1" l-align="right" l-currency ng-model="entry.projectedEntry.amountCents")
  %input(l-flex-grow="1" l-margin="r1" ng-model="entry.projectedEntry.description")
  %select(l-width="8"    l-margin="r1"
    ng-model="entry.frequency"
    ng-options="label as label for (label, freq) in frequencyOptions"
  )
  %div(l-width="9" l-flex="between")
    %button(                ng-show="!entry.saving" ng-click="cancelEdit(entry)") cancel
    %button.button--primary(ng-show="!entry.saving" ng-click="saveEdit(entry)") Save
    %span(                  ng-show=" entry.saving") saving...
