- content_for :navigation do
  = link_to '', edit_v3_accounts_path, title: 'Edit Accounts', class: 'icon-pencil'

.accounts-table(ng-controller="AccountsCtrl")
  .assets-list
    %h2 Assets
    %ul(ng-cloak)
      %li(ng-repeat-start="category in assetCategories")
        %h3 {{category}}
      %li(ng-repeat-end ng-repeat="account in accounts | filter:{deletedAt: null, asset: true, category: category} | orderBy:'position'")
        %div(ng-include src="'accounts/account.template'")

  .liabilities-list
    %h2 Liabilities
    %ul(ng-cloak)
      %li(ng-repeat-start="category in liabilityCategories")
        %h3 {{category}}
      %li(ng-repeat-end ng-repeat="account in accounts | filter:{deletedAt: null, asset: false, category: category} | orderBy:'position'")
        %div(ng-include src="'accounts/account.template'")

%script(type="text/ng-template" id="accounts/account.template")
  %a(href="/v3/accounts/{{account.id}}") {{account.name}}
  %span.balance(ng-model="account.balanceCents" l-currency)
