.accounts-table
  .assets-list
    %h2 Assets
    %ul
      %li(ng-repeat="account in accounts | filter:{asset:true} | orderBy:'position'")
        =#%h3 {{account.category}}
        %a(href="#/account/{{account.id}}") {{account.name}}
        %span.balance {{account.balance_cents | centsToDollars | currency}}
  .liabilities-list
    %h2 Liabilities
    %ul
      %li(ng-repeat="account in accounts | filter:{asset:false} | orderBy:'position'")
        =#%h3 {{account.category}}
        %a(href="#") {{account.name}}
        %span.balance {{account.balance_cents | centsToDollars | currency}}
