%h2.account
  {{account.name}}
  %span.balance(l-currency ng-model="account.balance_cents")

%ul.bank-entries
  %li(ng-repeat="account_entry in account.account_entries")
    .date {{account_entry.bank_entry.date}}
    .description {{account_entry.bank_entry.description}}
    .account-entry
      %span.ammount(l-currency ng-model="account_entry.ammount_cents")
      %span.balance(l-currency ng-model="account_entry.balance_cents")
