%accounts-table(groups="groups.promise")
  %h3(ng-show="account.firstInCategory") {{account.category}}
  %a(href="#/account/{{account.id}}") {{account.name}}
  %span.balance(l-currency ng-model="account.balance_cents")
