%ul.bank-entries
  %li(ng-repeat="entry in entries")
    %form(class="changed" ng-submit="save(entry)")
      .date
        %input(type="text" ng-disabled="entry.isFromBank" ng-model="entry.date")
      .description
        %input(type="text" ng-disabled="entry.isFromBank" ng-model="entry.description")
      .account-entry(ng-repeat="account_entry in entry.account_entries")
        .ammount
          %input(type="text" l-currency ng-model="account_entry.ammount_cents")
        .account
          %input(type="text" ng-model="account_entry.account_name")
      .actions
        %input(type="submit")
        %a(href="#" class="cancel") cancel
