.accounts {
  position: relative;
}

table.assets, table.liabilities {
  position: absolute;
  width: 50%;
  padding: 10px 10%;

  td {
    border-bottom: 1px solid #CCC;
  }

  .gripper {
    cursor: ns-resize;
    width: 20px;
    border-bottom: none;
    &:before {
      content: '';
      display: block;
      height: 2px;
      width: 10px;
      margin: 0 auto;
      border: {
        width: 2px 0;
        style: solid;
        color: #DDD;
      }
    }
  }
}

table.liabilities {
  left: 50%;
}
