.accounts {
  position: relative;
}

table.assets, table.liabilities {
  position: absolute;
  width: 50%;
  padding: 10px 10%;

  td {
    border-bottom: 1px solid #CCC;
  }
}

table.liabilities {
  left: 50%;
}
