table.assets, table.liabilities {
  position: absolute;
  width: 50%;
  padding: 10px 10%;

  td {
    border-bottom: 1px solid #CCC;
  }

  .gripper {
    cursor: ns-resize;
    border-bottom: none;
  }
  .delete {
    cursor: pointer;
    border-bottom: none;
  }
  tr.deleted {
    &, input {
      color: gray;
      text-decoration: line-through;
    }
  }
}

table.liabilities {
  left: 50%;
}
