@import "bourbon";
@import "jquery.ui.autocomplete";

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; width: 100%; }
body { position: relative; }

.currency {
  text-align: right;
}

.loading { text-align: center; }

@import "accounts";
@import "bank_entries";
