.bank-entries {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  overflow-y: scroll;
  padding: 0 20px 20px;
  border-top: 1px solid #888;

  *[rel="more"] { text-align: center; cursor: pointer; }
  & > .row:first-child { font-weight: bold; text-align: center; }
  .row {
    position: relative;
    height: 1.2em;

    $date_width: 100px;
    $description_width: 300px;
    $notes_width: 400px;
    $ammount_width: 100px;
    $account_width: 100px;
    & > * {
      position: absolute;
      padding: 2px 0 0 2px;
      overflow: hidden;
      height: 1.2em;
    }
    .date {        width: $date_width;        left: 0px; }
    .description { width: $description_width; left: $date_width; }
    .notes {       left: $date_width + $description_width; }
    *[rel="distribute-to-accounts"], .notes { right: $ammount_width + $account_width; }
    .ammount {     width: $ammount_width;     right: $account_width; }
    .account {     width: $account_width;     right: 0px; }
    .right-control { width: 15px; right: 0px; margin-right: -15px; }
  }

  .bank-entry-view:nth-child(even) {
    background-color: #E8E8E8;
  }
  .bank-entry-view.hasAmmountRemaining {
    border: 1px solid red;
  }

  *[rel="distribute-to-accounts"], *[rel="remove-account-entry"] {
    cursor: pointer;
  }
}

.bank-entry-details {
  @include clearfix;
  dt, dd { float: left; }
  dt { font-weight: bold; margin-right: 5px; }
  dd { margin-right: 25px; }
}

input[name="distribute"]{ float: right; }
