@import "bourbon";
@import "jquery.ui.autocomplete";

// Reset
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; width: 100%; }
body { position: relative; font-size: 16px; }

// Modules
.currency {
  text-align: right;
}

// Layout
$navigation_height: 38px;
.navigation {
  font-family: $helvetica;
  position: absolute;
  top: 0; left: 0; right: 0;
  font-size: 18px;
  text-align: center;
  padding: 5px;

  li {
    display: inline-block;
    border: {
      width: 1px 0 1px 1px;
      style: solid;
      color: #777;
    }
    @include background-image(linear-gradient(tint(#EEE, 20%) 0, shade(#EEE, 10%) 70%));
    padding: 2px 10px;
    a {
      color: #777;
      text-decoration: none;
      text-shadow: white 0 1px 0;
    }
    &:first-child {
      @include border-radius(7px 0 0 7px);
    }
    &:last-child {
      @include border-radius(0 7px 7px 0);
      border-right-width: 1px;
    }
    &.current {
      @include background-image(linear-gradient(shade(#EEE, 30%) 0, #EEE 90%));
    }
  }
}
.app, .loading {
  position: absolute;
  top: $navigation_height;
  left: 0; right: 0; bottom: 0;
}
.loading {
  text-align: center;
  background-color: rgba(128,128,128, 0.4);
  padding-top: 20%;
}

@import "./v1/accounts";
@import "./v1/bank_entries";
