@import "bourbon";

// Reset
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}
html, body { height: 100%; width: 100%; }
body { position: relative; font-size: medium; line-height: 1.2; }
input, select {
  background-color: white;
  border: 1px solid #888;
}
input { padding: 0 1ex; }

// Elements
.currency {
  text-align: right;
  &.negative { color: red; }
}
.accounts-table {
  @include clearfix;
  .assets-list, .liabilities-list {
    float: left;
    width: 50%;

    h2 { text-align: center; }
    ul { list-style-type: none; }
    li { border-bottom: 1px dotted #DDD; }
  }
  .assets-list { padding-right: 2em; }
  .liabilities-list { padding-left: 2em; }
}

// Layout
.navigation {
  .accounts, .entries {
    display: inline-block;
    position: fixed;
    top: 0; bottom: 0;
    a {
      display: inline-block;
      height: 100%;
      margin-top: -0.5em;
      padding: 1ex;
      color: #666;
      &:before {
        content: '';
        display: inline-block;
        height: 49%; width: 100%;
      }
      &:hover { background-color: #DDD; }
    }
  }
  .accounts {
    left: 0;
    body.accounts & { display: none; }
  }
  .entries {
    right: 0;
    body.bank_entries & { display: none; }
  }
}

@import "./v2/accounts";
@import "./v2/bank_entries";
