@import "bourbon";
@import "normalize";

// Reset
* {
  @include box-sizing(border-box);
}
html, body { height: 100%; width: 100%; }
html { overflow: hidden; }
body {
  position: relative;
  overflow: auto;
  font-size: medium;
  line-height: 1.2;
  color: #444;
}
h1, h2, h3 { color: #222; }
input, select {
  background-color: white;
  border: 1px solid #888;
  font-size: 0.8em;
}
input { padding: 0 1ex; }
ul { margin: 0; padding: 0; }

// Elements
.currency {
  text-align: right;
  &.negative { color: red; }
}
.accounts-table {
  .assets-list, .liabilities-list {
    float: left;
    width: 50%;

    h2 { text-align: center; }
    ul { list-style-type: none; }
    li { border-bottom: 1px dotted #DDD; }
  }
  .assets-list { padding-right: 2em; }
  .liabilities-list { padding-left: 2em; }
}

// Layout
.navigation {
  font-size: 110%;
  @include linear-gradient(tint(black, 20%), black);
  .accounts, .entries, .searches {
    display: inline-block;
    border-right: 1px solid black;
    a {
      display: inline-block;
      height: 1.5em;
      width: 10em;
      margin: 0.5ex;
      text-align: center;
      color: #CCC;
    }
  }
  body.accounts & .accounts,
  body.bank_entries & .entries,
  body.searches & .searches {
    background-color: black;
  }
}

@import "./v2/accounts";
@import "./v2/bank_entries";
@import "./v2/strategies";
