@import "bourbon";

// Reset
* {
  @include box-sizing(border-box);
}
html, body { height: 100%; width: 100%; }
html { overflow-x: auto; overflow-y: scroll; }
body {
  position: relative;
  font-size: medium;
  line-height: 1.2;
  color: #444;
}
h1, h2, h3 { color: #222; }
input, select, textarea, button, .button, [class^="button--"] {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  border: none;
  box-shadow: 0 1px 3px #BBB;
  text-align: inherit;
  &:focus {
    outline: none;
    box-shadow: 0 1px 3px #66F;
  }
}
input[type="file"] { border-bottom-width: 0; }
button, .button, [class^="button--"] {
  margin-left: 0.3em;
  margin-right: 0.3em;
  cursor: pointer;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-shadow: none;
  text-decoration: none;
  &:hover, &:focus { color: black; }
}
.button--remove, input.ng-invalid {
  color: #F44;
  &:hover, &:focus { color: #F00; }
  &:focus { box-shadow: 0 1px 3px #F66; }
}
.button--primary {
  color: #44F;
  &:hover, &:focus { color: #00F; }
}
ul { margin: 0; padding: 0; }
em {
  font-style: normal;
  color: black;
  text-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
}
pre { margin: 0; }

// Elements
.is-clickable { cursor: pointer; }

.l-margin-v1 { margin-top: 1em; margin-bottom: 1em; }
.l-margin-h8 { margin-left: 8em; margin-right: 8em; }

.l-text-c { text-align: center; }
.l-text-r { text-align: right; }
.l-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currency {
  text-align: right;
  &.negative { color: red; }
}
.accounts-table {
  .assets-list, .liabilities-list {
    float: left;
    width: 50%;
    @media (max-width: 35em) { width: 100%; }

    h2 { text-align: center; }
    ul { list-style-type: none; }
    li { border-bottom: 1px dotted #DDD; }
    h3 {
      margin-bottom: 0;
      font-size: 80%;
      font-weight: normal;
      text-transform: uppercase;
      color: #888;
    }
  }
  .assets-list { padding-right: 2em; }
  .liabilities-list { padding-left: 2em; }
}

.dropdown {
  position: absolute;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #888;
  border-radius: 0.5rem;
  z-index: 1000;

  $arrow_size: 0.5rem;
  &:before, &:after {
    position: absolute;
    display: inline-block;
    content: "";
    border: $arrow_size solid transparent;
    pointer-events: none;
  }
  &:before {
    top: unquote("calc(-2 * "+$arrow_size+" - 1px)");
    left: $arrow_size;
    border-bottom-color: #888;
  }
  &:after {
    top: -2 * $arrow_size;
    left: $arrow_size;
    border-bottom-color: white;
  }
}

@mixin bank_entry {
  position: relative;
  min-height: 1.2em;

  .date, .description, .distribute, .amount, .account {
    position: absolute; top: 0.1em;
  }
  .date { width: 8em; }
  .description {
    left: 9em;
    right: 20em;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
  }
  .account { width: 10em; right: 0; }
  .amount { width: 8em; right: 11em; }
}

// This is more of a min-width
$bank-entry-width: 45em;
.bank-entries {
  margin: 1em 8em;
  @media (max-width: $bank-entry-width
                  + 16em // margins
                  ) { margin: 1em; }
  list-style-type: none;

  form .actions > * { margin-right: 1em; }
  form .actions { display: none; }
  form.changed .actions { display: initial; }
  form.changed .distribute { display: none; }
  .focus { background-color: #F0F0F0; }

  li {
    @include bank_entry;

    @media (max-width: $bank-entry-width) {
      padding-top: 1.2em;
      .description { right: 0; }
      margin-top: 1.2em;
      padding-bottom: 1.2em;
    }

    border-bottom: 1px dashed #DDD;
    &:last-child { border-bottom: none; }

    .date, .description, .distribute, .amount, .account {
      z-index: 100;
      input, select { width: 100%; }
    }
    .distribute {
      right: 20em;
      @media (max-width: $bank-entry-width) { right: 0; }
    }
    .account-entry {
      position: relative;
      height: 1.4em;
    }
  }
}

form .actions { clear: both; }

// Layout
.navigation {
  $base_width: 1em + // left-padding
              10em * 3 + // 3 .navigation__page's
              20em; // .bank_import and .page-actions

  font-size: 1.1rem;
  height: 2em;
  line-height: 2em;
  @include linear-gradient(tint(black, 25%), tint(black, 5%));

  @media (max-width: $base_width) {
    height: auto;
    text-align: center;
  }

  &, a {
    color: #CCC;
  }
  .navigation__page {
    display: inline-block;
    width: 10em;
    position: relative;
    text-align: center;
    border-right: 1px solid black;

    &:first-child {
      margin-left: 1em;
      border-left: 1px solid black;
    }

    @media (max-width: $base_width) {
      display: block;
      width: auto;
      border-right: none;

      &:first-child {
        margin-left: 0;
        border-left: none;
      }
    }
  }
  .page-actions {
    float: right;

    @media (max-width: $base_width) {
      border-top: 1px solid black;
    }
  }
  .page-actions > * {
    display: inline-block;
    width: 2em;
    height: 2em;
    text-align: center;
    border-left: 1px solid black;
    text-decoration: none;
  }
  body.accounts & .accounts,
  body.bank_entries & .entries,
  body.strategies & .strategies {
    background-color: black;
  }
  .count {
    position: absolute;
    display: inline-block;
    top: 1px;
    height: 1.4em;
    min-width: 1.4em;
    line-height: 1;
    font-size: 75%;
    font-weight: bold;
    background: #C00;
    color: white;
    border-radius: 1.3ex;
    padding: 3px;
  }
  small {
    margin-left: 1rem;

    + .dropdown {
      display: inline-block;
      margin-top: 2.1em;
      margin-left: -20em;
      color: #111;
      opacity: 0;
      visibility: hidden;
      transition: all linear 0.25s 0.5s;

      &:before, &:after {
        left: auto;
        right: 0.5rem;
      }

      @media (max-width: $base_width) {
        font-size: 0.8em;
        margin-top: 0;
        margin-left: 0;
        color: inherit;
        background-color: transparent;
        padding: 0;
        border: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        &:before, &:after { display: none; }

        input { display: none; }
      }
    }
  }
  small:focus + .dropdown,
  small:hover + .dropdown,
  .dropdown:hover {
    visibility: visible;
    opacity: 1;
  }

  .page-actions__calculator > .dropdown {
    margin-left: -10.5em;
    color: #444;

    &:before, &:after {
      left: auto;
      right: 0.5rem;
    }
  }
  .page-actions__calculator > label {
    display: inline-block;
  }
  .page-actions__calculator pre {
    height: 2rem;
    box-shadow: inset 0 1px 3px #BBB;
  }
}

@import "./v3/accounts.css.scss";
@import "./v3/bank_entries.css.scss";
@import "./v3/strategies.css.scss";

@import "./v3/icon-fonts.css.scss";
@import "./v3/table.css.scss";
